.yourelementWin{
   animation: yourattackWin 1.5s;
}

.yourelementLose{
   animation: yourattackLose 1.5s;
}

.yourelementTie{
   animation: yourattackTie 1.5s;
}

.enemyelementWin{
   animation: enemyattackWin 1.5s;
}

.enemyelementLose{
   animation: enemyattackLose 1.5s;
}

.enemyelementTie{
   animation: enemyattackTie 1.5s;
}

.hidden {
   display: none;
}

.getHit{
    animation: getHit 0.7s;
}

.youMoveRight{
    animation: youMoveRight 1s;
}

.enemyMoveLeft{
    animation: enemyMoveLeft 1s;
}

.selected{
    outline: 2px solid red;
    transform: scale(1.1);
    box-shadow: 4px 6px 12px rgba(232, 100, 100, 0.3);
}

#charmanderCharacter::after{
    content: 'Charmander is a fire type Pokemon and has been learning water and grass type movement too';
    display: block;
    position:absolute;
    font-size: 12px;
    margin-top: 4px;
    color:white;
    background-color: rgba(135, 74, 74, 0.5);
    border: solid 1px white;
    z-index:30;
}

.slowlyAppear {
    animation: slowlyAppear 5s forwards;
}

@keyframes yourattackWin {
     0% {
         transform: translateX(0px) translateY(0px);

     }
     100% {
         transform: translateX(550px) translateY(-150px);
;
     }
 }
    

 @keyframes yourattackLose {
     0% {
         transform: translateX(0px) translateY(0px);
     }
     50%{
        transform: translateX(225px) translateY(-75px);
          opacity:10%;
     }
     100% {
         transform: translateX(225px) translateY(-75px);
        opacity:10%;
     }
 }
    
@keyframes yourattackTie {
     0% {
         transform: translateX(0px) translateY(0px);
     }
     90%{
        transform: translateX(225px) translateY(-75px);
     }
     100% {
         transform: translateX(225px) translateY(-75px) scale(1.1); opacity: 0.2;
     }
 }

 @keyframes enemyattackWin {
     0% {
         transform: translateX(0px) translateY(0px);
     }
     100% {
         transform: translateX(-550px) translateY(200px);
     }
 }

 
 @keyframes enemyattackLose {
     0% {
         transform: translateX(0px) translateY(0px);
     }
     50% {
         transform: translateX(-225px) translateY(100px);
         opacity:10%;
         

     }
    100% {
         transform: translateX(-225px) translateY(100px);
        opacity:10%;
     }
 }

 
 
 @keyframes enemyattackTie {
     0% {
         transform: translateX(0px) translateY(0px);
     }
     90%{ 
         transform: translateX(-290px) translateY(130px) scale(1.1)
     }
     100% {
         transform: translateX(-290px) translateY(130px) scale(1.1); opacity:0.2;
     }
 }
    
@keyframes getHit {
	0%,
    10%,
    20%,
    30%,
    40%,
    50%,
    60%,
    70%,
    80%,
	90%,
	100% {
		opacity: 1;
	}
    15%,
	25%,
    35%,
    45%,
    55%,
    65%,
	75%,
    85%,
    95% {
		opacity: 0;
	}
}


@keyframes youMoveRight {
    0% {
        transform: translateX(-200px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes enemyMoveLeft {
    0% {
        transform: translateX(200px);
    }
    100% {
        transform: translateX(-0px);
    }
}

@keyframes slowlyAppear {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
