
 .card {
      width: 150px;
      height: 150px;
      background: #3498db;
      color: black;
      font-size: 0.2 em;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-radius: 8px;
      padding: 1em;

    }

.card:hover{
    transform: scale(1.05);
}
.flipped {
        background: #95a5a6;
      pointer-events: none;
    }

.matched {
        background: #2ecc71;
      cursor: default;
    }